@import './colors';

:root {
  /* Dark Theme (Default) */
  --bg-primary: #{$slate-950};
  --bg-secondary: #{$slate-900};
  --bg-hover: #{$slate-800};
  --text-main: #{$slate-200};
  --text-muted: #{$slate-400};
  --text-dim: #{$slate-500};
  --border-color: #{$slate-800};
  --accent-blue: #{$blue-500};
  --accent-fail: #{$red-500};
  --accent-pass: #{$green-400};
  --accent-warning: #{$yellow-300};
  --accent-review: #{$blue-500};
  --card-selected-bg: rgba(37, 99, 235, 0.05);
  --shadow-color: rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #{$slate-50};
    --bg-secondary: #ffffff;
    --bg-hover: #{$slate-100};
    --text-main: #{$slate-800};
    --text-muted: #{$slate-600};
    --text-dim: #{$slate-400};
    --border-color: #{$slate-200};
    --accent-blue: #{$blue-600};
    --accent-fail: #{$red-700};
    --accent-pass: #{$green-600};
    --accent-warning: #{$yellow-600};
    --accent-review: #{$blue-600};
    --card-selected-bg: rgba(37, 99, 235, 0.05);
    --shadow-color: rgba(0, 0, 0, 0.1);
  }
}
